@charset "utf-8";

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'); 
/* @import url('fonts.css'); */

* {
    /* font:13px "Open Sans","Lucida Sans Unicode","Lucida Grande",Arial,Helvetica,sans-serif; */
	
}
html, body {
    margin: 0;
    padding: 0;
	font:13px Montserrat, "Open Sans","Lucida Sans Unicode","Lucida Grande",Arial,Helvetica,sans-serif !important;
	/* font: 500 16px "Dosis","Source Sans Pro",Calibri,Candara,Arial,sans-serif; */
	
	
}
body {
	height: 100%;

	background-color:#fff;
	
	/*
	font-family: "proxima-nova",sans-serif;
	font:14px "Lucida Sans Unicode","Lucida Grande",Arial,Helvetica,sans-serif;
	*/
	line-height:22px;
	margin:0;
}




#content .input-append input{height: 34px;}
input#recaptcha_response_field{ height: 28px; padding: 5px;}
.input-group-btn .btn{
	font-size: initial;
	padding: 3px!important;
}

.form-horizontal .form-group{
	margin-bottom: 5px;
	margin-left: 0 !important;	
}
.content_nolayout .form-horizontal .form-group .input-group{
	display: flex
}
.content_nolayout .form-horizontal .form-group .input-group-addon {
    width: 50px;
    padding: 10px 0 0 0;
}

.reset_pas .form-group{margin-top: 10px;
    text-align: center;}
#twofaStatus{text-transform: uppercase;}

	/* chart graph*/
.inblock {
border: 1px solid #ccc;
padding: 10px;
background: white;
margin: auto;
margin-bottom: 5px;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
/*box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);*/
box-shadow: 0 1px 2px #ccc;
}
.inblock hr {
	margin: 5px 0
}
.inblock-left {
width: 490px;/*49%*/
float: left;
}
.inblock-right {
width: 490px;
float: right;
}
.inblock-left .inblock .form-group label,
.inblock-right .inblock .form-group label {
	font-size: 12px;
	font-weight: normal;
	padding-right: 5px;
}
.inblock-left .inblock .form-group,
.inblock-right .inblock .form-group {
	margin-bottom: 5px;

}
/*.order_header {
background: #BADAF3;
}*/
form.inblock, .order_header{background: #1F1E1E;border: 1px solid #282828;}
.form-horizontal .control-group {
margin-bottom: 10px;
}

#content .inblock .input-append input{
	height: 27px;
	width: 171px;
}
#content .inblock .input-append .add-on{ height: 27px; }
.form-horizontal.inblock .controls {
margin-left: 159px;
}
.form-horizontal.inblock .control-label{text-align: left;}
.inblock h2, .inblock h1{text-transform:capitalize;}
/* .wrapper-trading{display: inline-block;} */
.addressSection .options{
	color: #3a87ad;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
#orders-s-list table tr:hover, #orders-b-list table tr:hover{cursor: pointer; color: #2a9fd6;}
/*amCharts*/
.amChartsPeriodSelector .amChartsButtonSelected,.amChartsPeriodSelector .amChartsButton{margin-right: 3px;}

ul.market.balance li{padding: 5px;}
.balance ul.market li a.maincoin_available {
	color: green;
}

.nano > .mCSB_inside > .mCSB_container { 
	margin-right: 0px !important;
}
.nano .mCSB_scrollTools .mCSB_draggerContainer {
	top: 5px;
	bottom: 5px;
}
ul.market{
	border: 0 !important;
	overflow-y: hidden !important;
	font-size: 12px;
}




/*fix new template*/
.inblock .form-group label.col-lg-2.control-label {
width: 28%;
}
.inblock .form-group .col-lg-10{width:70%; padding-right: 15px; float: right}
.inblock .input-group{/*width:100px;padding-left: 15px; */}
.inblock span.input-group-addon{width: 50px; padding: 5px;}
.vote_now{margin-left: 10px;}
#balances .dropdown-menu{/*left: -78px;*/text-align: left;}




#wihtdrawForm .col-lg-10{margin-top: 10px;}
#wihtdrawForm #amount,#wihtdrawForm  #inputPassword{width:200px;}

/* Buy & Sell blocks

#main .wrapper-trading.buysellform {

}
#main .wrapper-trading.buysellform .inblock-left,
#main .wrapper-trading.buysellform .inblock-right {
	

}
#main .wrapper-trading.buysellorders {
	margin-top: 10px;
}
#main .wrapper-trading.buysellorders .inblock-left,
#main .wrapper-trading.buysellorders .inblock-right {
	height: 415px;
	

}
#main .wrapper-trading .inblock-left .btn-block,
#main .wrapper-trading .inblock-right .btn-block{
	

}

#main .wrapper-trading.buysellorders .inblock-left #sellorders .sellorders_marked td,
#main .wrapper-trading.buysellorders .inblock-right #buyorders .buyorders_marked td{
}
*/
.buysellorders .user_order {
	background-color: red;
}
.buysellorders table thead tr th:nth-child(1),
.buysellorders table tbody tr td:nth-child(1) {
	width: 33%;
}
.buysellorders table thead tr th:nth-child(2),
.buysellorders table tbody tr td:nth-child(2) {
	width: 33%;
}
.buysellorders table thead tr th:nth-child(3),
.buysellorders table tbody tr td:nth-child(3) {
	width: 33%;
}

.buysellorders table thead tr th:nth-child(3),
.buysellorders table tbody tr td:nth-child(3) {
	text-align: right;
}


.trade_history table thead tr th:nth-child(1),
.trade_history table tbody tr td:nth-child(1) {
	width: 20%;
}
.trade_history table thead tr th:nth-child(2),
.trade_history table tbody tr td:nth-child(2) {
	width: 15%;
}
.trade_history table thead tr th:nth-child(3),
.trade_history table tbody tr td:nth-child(3) {
	width: 20%;
}
.trade_history table thead tr th:nth-child(4),
.trade_history table tbody tr td:nth-child(4) {
	width: 25%;
}
.trade_history table thead tr th:nth-child(5),
.trade_history table tbody tr td:nth-child(5) {
	width: 20%;
	text-align: right;
}
#main {
	background-color: #f5f5f5;
}


#main .wrapper-trading .scrolltable,
#main .trade_history .scrolltable{
	position: relative;
	top: -30px;
	background-color: #fff;
}

#main .chart_marketdepth {
	border-radius: 4px;
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 10px;
	margin-top:-1px;
}
#main .chart_marketdepth .amChartsButton,
#main .chart_marketdepth .amChartsButtonSelected {
	border-radius: 4px !important;
	padding: 5px !important;
}

#main #chart_marketdepth_tab li{
	float: right;
	margin-top: -30px;
}

.scrolltable {
overflow-y: auto;
height: 350px;
border-radius: 4px;
border-top-left-radius: 0;
border-top-right-radius: 0;
border: 1px solid #ccc;
}
/*ul.market::-moz-scrollbar, 
ul.market::-o-scrollbar,
ul.market::-webkit-scrollbar {
    width: 12px;
}
*/

button.dropdown-toggle { min-width: 100px; text-align: left;}

.dropdown-menu > li > a:hover{color:#fff;}
/*Dashboard*/
.panel {
    background-color: #FFFFFF;
    /*display: inline-block;*/
	box-shadow: 0 1px 2px #ccc
}
.panel-heading,
.panel-footer {
	padding: 7px 12px;
}
.panel-default .panel-heading span,
.panel-default .panel-heading a{
	font-size: 1.2em;
}
.panel-default .panel-heading a:hover{
	text-decoration: none;
}
.panel-default .panel-footer div {
	padding: 2px 0;
}
.panel-default .panel-heading {
    color: #333333;
    font-size: 1.2em;
    font-weight: 400;
	background-color: #F5F5F5;
    border-color: #DDDDDD;
}
.panel-default {
    border-color: #DDDDDD;
}
.panel-body:after{clear:none;}
#dashboard .form-horizontal .form-group:after{clear: none;}
#form_transfer div.col-lg-10 {
width: 68%;
margin-bottom: 10px;
}
#dashboard .panel-charts .table td{text-align:initial;}
#dashboard .panel-charts .table tr td:first-child{text-align:right;}
.text-high{font-weight: bold; font-size: 15px;}

#balances table tr td:first-child{text-align:left;}
#balances .has_amount{color: #2a9fd6;}
.table-striped tbody > tr:nth-child(odd) > td, .table-striped tbody > tr:nth-child(odd) > th {

}

span.logo {
	display: block;
	padding: 5px;
	color: #ffffff;
	background-color: #248fc1;
	font-size: 14px;
	text-shadow: 0px 1px #133F9E;
	border-bottom: 1px solid #ffffff;
}

#main .generaltext{padding: 20px 10px;}
#main .generaltext h4 {
	font-weight: bold;
	margin: 0;
}



/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
.marginleft{margin-right:900px;}

.margintop50{margin-top:50px;}

.margintop20{margin-top:20px;}

}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */

.marginleft{margin-right:900px;}

.margintop50{margin-top:50px;}
.margintop20{margin-top:20px;}
}


.recaptchatable, #recaptcha_area tr, #recaptcha_area td, #recaptcha_area th {
	line-height:0!important;
}
.recaptcha_input_area{
	height: 20px!important;
}

/*Sidebar*/
.sidebar ul.market li a {

}

.sidebar .fa-star{
  color: #FFCC33; /* your background color */
  opacity: 0.5;
}
.sidebar .fa-star:hover{
	color: #333;
}

.sidebar .mark_fav {
	position: relative;
	float: left;
	cursor: pointer;
	padding: 0 8px 0 0;
	/*
	padding: 0;
    left: -2px;
	*/
	
	
}
.sidebar .mark_fav:hover {
	color: black;
}
.sidebar {
	padding: 0;
	border: 0;
	
	vertical-align: top;
	display: block;
}

.sidebar ul{
	width: 100%;
	
}
.sidebar .coinmarket {
	box-shadow: 0 2px 10px 0 rgba(100, 100, 100, 0.1);
	
	font-size: 12px;
	
}
.sidebar .panel-heading a {
	color: #333;
}
.sidebar .panel-body {
	padding: 0;
}
.sidebar .panel-default > .panel-heading,
.sidebar .panel-group .panel {
	border-radius: 0 !important;
	border: 0 !important;
}


	/* Sidebar search*/
.sidebar_tabs .nav-tabs { border-bottom: 2px solid #DDD; }
.sidebar_tabs .nav-tabs > li.active > a, 
.sidebar_tabs .nav-tabs > li.active > a:focus, 
.sidebar_tabs .nav-tabs > li.active > a:hover { border-width: 0; }

.sidebar_tabs .nav-tabs > li > a { border: none; color: #666; }
.sidebar_tabs .nav-tabs > li.active > a, 
.sidebar_tabs .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
.sidebar_tabs .nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
.sidebar_tabs .nav-tabs > li.active > a::after, 
.sidebar_tabs .nav-tabs > li:hover > a::after { transform: scale(1); }
.sidebar_tabs .tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.sidebar_tabs .tab-pane { padding: 0; }
.sidebar_tabs .tab-content{/*padding:20px*/}

.sidebar_tabs .card {background: #FFF none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); margin-bottom: 30px; }

	
	.sidebar_tabs .col-md-12{
	background: #f5f5f5;
	
}
.sidebar .sidebar_tabs .nav>li.navbar-right {
	margin-right: 0;
	float: right;
}
.sidebar .sidebar_tabs .nav>li>a{
	padding: 5px 10px;
}
.sidebar  .sidebar_search {
    position: relative;
	padding: 10px 0
}



.sidebar-bg{  
	top: 50px;
	height: 100%;
	min-width: 250px;
	max-width: 250px;
	background-color:#f5f5f5;
	border-right: 1px solid #ddd;
	position: fixed;

}
.sidebar .panel{
	border: 0;
}
.sidebar {
  width: inherit;
  min-width: 250px;
  max-width: 250px;
  background-color:#f5f5f5;
  float: left;
  position:relative;
  overflow-y:auto;
  overflow-x:hidden;
  
  background: none repeat scroll 0 0 #f5f5f5;
  border-right: 1px solid #ddd;
}


.sidebar .clear-input > span {
    position: absolute;
    right: 10px;
    top: 18px;
    margin: auto;
    font-size: 24px;
    cursor: pointer;
    color: #AAA;
}
.sidebar .sidebar_tabs .nav > li.active > a{
	/*background-color: #f9f9f9;*/
}
.sidebar ul li.title{
	/* border-top: 1px solid #ddd !important; */
	border-bottom: none !important;
	background: none !important;
	line-height: inherit !important;
	
}
.sidebar .nav-tabs {
	border: 0;
}
.sidebar .well {
	border-radius: 0;
	background-color: #f9f9f9;
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

	.sidebar {
		display: none !important; 
	}
}


.list-group {
	margin-bottom: 0;
}

#content {
	display: table;
	padding-top: 50px;
	width: 100%;
}
/*
 @ START - INDEX
*/
#main  {

	border-right:1px solid #ddd;
	padding:0;
	vertical-align: top;
	height: 100%;
    overflow: auto;
	
}
/*




#main h1 {
	font-size:300%;
	margin-bottom:25px;
	text-align:center;
}


#main h2 {
    font-size: 150%;
    margin: 15px 0 5px 0;    
}

#main h3 {
    font-size: 125%;
    margin: 15px 0 5px 0;
}

#main h4 {
	font-size:120%;
	margin: auto;
	padding-top: 0.2rem;
}


#main .table {
	border-radius: 3px;
	box-shadow: 0 2px 10px 0 rgba(100, 100, 100, 0.1);
	border-collapse: unset !important;
	padding: 3px 0 5px 0 ;
}
#main .table td,
#main .table th {
    border-top: 0 !important;
}
#main .table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px}
	
#main .table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px
}

#main .table thead tr {
	
    border-bottom: 1px solid #dadada;
	
    color: #666 !important;
    line-height: 35px;
	height: 35px;
    text-align: left;
	border-radius: 5px;
	
	
}
#main .table thead {
	border-radius: 5px;
}

#main .table tbody {
	border-radius: 5px;
}
#main img.coin_icon_small{
	width: 23px; height: 23px; border: 0; 
}
#main .table a{
	text-decoration: none;
}
#main .table tr:hover > td:nth-child(2){
	
}
*/

/* Market Place*/


	/* Column Table sorter*/
	/*** Bootstrap popover Market Selector***/
	#popover-target label {
	  margin: 0 5px;
	  display: block;
	}
	#popover-target input {
	  margin-right: 5px;
	}
	#popoverMarketSelectorTarget input {
		margin: 5px;
		position: relative;
		top: 2px;
	}
	.columnMarketSelector, .hidden {
		display: none;
	}
	.tablesorter-column-selector label {
		text-transform: uppercase;
		box-shadow: 1px 1px 3px #999;
		display: block;
		float: none;
		height: auto;
		margin-bottom: 3px;
		padding: 3px 10px;
		position: relative;
		cursor: pointer;
		
		background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #ffffff 0%, #f3f3f3 89%, #f9f9f9 100%) repeat scroll 0 0;
		border: 1px solid #999;
		border-radius: 4px;
		color: black !important;
		font-size: 0.8em;
		white-space: nowrap;
	}
	.tablesorter-column-selector label:hover {
		background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #f3f3f3 0%, #e2e2e2 89%, #f4f4f4 100%) repeat scroll 0 0;
		border: 1px solid #666;
		box-shadow: 1px 1px 3px #999;
		text-decoration: none !important;
	}


/* Footer */
.footer {
	
    background-color: #171717;
    color: #bbb;
    
    text-align: center;
	height: 70px;
	
	border-top: 1px solid #666;
	
	clear: both;
	padding: 15px 0;
	margin: 0;
	width: 100%;
	position: relative;
	bottom: 0;
}

/*
 @ STOP - INDEX
*/

/*
.form-control {
	padding: 0 5px;
}
*/
#registerForm label{
	font-weight: normal;
	cursor: pointer;
}

/*page styles*/
.content_nolayout .form-horizontal .form-group{
	margin: 5px auto;
}
.content_nolayout {
	margin-top: 20px;
}

/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
  margin: -5px 0 10px;
  height: 3px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

#content .content_nolayout {
	margin: 0 auto;
}


.content_nolayout fieldset div.form-group{
	margin: 0px 0px 10px 0px !important;
}

/*Startpage - Buttons 
https://codepen.io/anon/pen/PQzQNE
*/
.button {
  background-color: #f2f2f2;
  background-image: linear-gradient(to bottom, #f2f2f2, #f2f2f2);
  border: 1px solid #bfbfbf;
  box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #d9d9d9, inset 0 0 0 1px #f2f2f2, 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #8c8c8c;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  padding: 9px 16px 9px;
  transition: all 20ms ease-out;
  vertical-align: top;
  text-transform: uppercase;
  text-shadow: 0 1px 2px #333;
}
.button:hover, .button:focus {
  background: #f2f2f2;
  border-color: #8c8c8c;
  box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #d9d9d9, inset 0 0 0 1px #f2f2f2;
  color: #FFF;
  text-decoration: none;
}
.button:active {
  background: #f2f2f2;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}
.button .fa {
  color: #bfbfbf;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.button .fa-2x {
	font-size:20px;
}
.button-blue {
  background-color: #42b0e3;
  background-image: linear-gradient(to bottom, #42b0e3, #2ba9e3);
  border: 1px solid #107db0;
  box-shadow: inset 0 1px 0 #7cd4fc, inset 0 -1px 0 #2696c9, inset 0 0 0 1px #59b7e3, 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.button-blue:hover, .button-blue:focus {
  background: #2ba9e3;
  border-color: #004c6f;
  box-shadow: inset 0 1px 0 #7cd4fc, inset 0 -1px 0 #2696c9, inset 0 0 0 1px #59b7e3;
}
.button-blue:active {
  background: #2ba9e3;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}
.button-blue .fa {
  color: #107db0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.button-green {
  background-color: #97cc76;
  background-image: linear-gradient(to bottom, #97cc76, #8bcc62);
  border: 1px solid #5f993a;
  box-shadow: inset 0 1px 0 #c6e6b3, inset 0 -1px 0 #79b356, inset 0 0 0 1px #a4cc8b, 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.button-green:hover, .button-green:focus {
  background: #8bcc62;
  border-color: #326612;
  box-shadow: inset 0 1px 0 #c6e6b3, inset 0 -1px 0 #79b356, inset 0 0 0 1px #a4cc8b;
}
.button-green:active {
  background: #8bcc62;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}
.button-green .fa {
  color: #5f993a;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.button-purple {
  background-color: #847bba;
  background-image: linear-gradient(to bottom, #847bba, #7568ba);
  border: 1px solid #493e87;
  box-shadow: inset 0 1px 0 #bab6d4, inset 0 -1px 0 #655aa1, inset 0 0 0 1px #948dba, 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.button-purple:hover, .button-purple:focus {
  background: #7568ba;
  border-color: #1f1654;
  box-shadow: inset 0 1px 0 #bab6d4, inset 0 -1px 0 #655aa1, inset 0 0 0 1px #948dba;
}
.button-purple:active {
  background: #7568ba;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}
.button-purple .fa {
  color: #493e87;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.button-pink {
  background-color: #ff6682;
  background-image: linear-gradient(to bottom, #ff6682, #ff4265);
  border: 1px solid #f5002d;
  box-shadow: inset 0 1px 0 #ffccd5, inset 0 -1px 0 #ff2b52, inset 0 0 0 1px #ff8a9f, 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.button-pink:hover, .button-pink:focus {
  background: #ff4265;
  border-color: #99001c;
  box-shadow: inset 0 1px 0 #ffccd5, inset 0 -1px 0 #ff2b52, inset 0 0 0 1px #ff8a9f;
}
.button-pink:active {
  background: #ff4265;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}
.button-pink .fa {
  color: #f5002d;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.button-gray {
  background-color: #63615f;
  background-image: linear-gradient(to bottom, #63615f, #635b56);
  border: 1px solid #302925;
  box-shadow: inset 0 1px 0 #878787, inset 0 -1px 0 #4a4440, inset 0 0 0 1px #666666, 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.button-gray:hover, .button-gray:focus {
  background: #635b56;
  border-color: black;
  box-shadow: inset 0 1px 0 #878787, inset 0 -1px 0 #4a4440, inset 0 0 0 1px #666666;
}
.button-gray:active {
  background: #635b56;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}
.button-gray .fa {
  color: #302925;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.button-brown {
  background-color: #ba997b;
  background-image: linear-gradient(to bottom, #ba997b, #ba9068);
  border: 1px solid #87613e;
  box-shadow: inset 0 1px 0 #d4c4b6, inset 0 -1px 0 #a17c5a, inset 0 0 0 1px #baa38d, 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.button-brown:hover, .button-brown:focus {
  background: #ba9068;
  border-color: #543416;
  box-shadow: inset 0 1px 0 #d4c4b6, inset 0 -1px 0 #a17c5a, inset 0 0 0 1px #baa38d;
}
.button-brown:active {
  background: #ba9068;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}
.button-brown .fa {
  color: #87613e;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.button-orange {
  background-color: #f58a38;
  background-image: linear-gradient(to bottom, #f58a38, #f57c20);
  border: 1px solid #c25706;
  box-shadow: inset 0 1px 0 #ffb984, inset 0 -1px 0 #db6f1d, inset 0 0 0 1px #f59851, 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.button-orange:hover, .button-orange:focus {
  background: #f57c20;
  border-color: #773300;
  box-shadow: inset 0 1px 0 #ffb984, inset 0 -1px 0 #db6f1d, inset 0 0 0 1px #f59851;
}
.button-orange:active {
  background: #f57c20;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}
.button-orange .fa {
  color: #c25706;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.button-red {
  background-color: #ed6d64;
  background-image: linear-gradient(to bottom, #ed6d64, #ed574c);
  border: 1px solid #ba3329;
  box-shadow: inset 0 1px 0 #ffb0aa, inset 0 -1px 0 #d44d44, inset 0 0 0 1px #ed837b, 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.button-red:hover, .button-red:focus {
  background: #ed574c;
  border-color: #870c03;
  box-shadow: inset 0 1px 0 #ffb0aa, inset 0 -1px 0 #d44d44, inset 0 0 0 1px #ed837b;
}
.button-red:active {
  background: #ed574c;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}
.button-red .fa {
  color: #ba3329;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.button-darkred {
  background-color: #d50e00;
  background-image: linear-gradient(to bottom, #d50e00, #be0d00);
  border: 1px solid #820900;
  box-shadow: inset 0 1px 0 #ff3122, inset 0 -1px 0 #a90b00, inset 0 0 0 1px #ed1000, 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.button-darkred:hover, .button-darkred:focus {
  background: #be0d00;
  border-color: #440500;
  box-shadow: inset 0 1px 0 #ff3122, inset 0 -1px 0 #a90b00, inset 0 0 0 1px #ed1000;
}
.button-darkred:active {
  background: #be0d00;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}
.button-darkred .fa {
  color: #820900;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.button-yellow {
  background-color: #fce374;
  background-image: linear-gradient(to bottom, #fce374, #fcdf5b);
  border: 1px solid #c9ae34;
  box-shadow: inset 0 1px 0 #fff6ce, inset 0 -1px 0 #e3c852, inset 0 0 0 1px #fce88d, 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #967d09;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.button-yellow:hover, .button-yellow:focus {
  background: #fcdf5b;
  border-color: #967d09;
  box-shadow: inset 0 1px 0 #fff6ce, inset 0 -1px 0 #e3c852, inset 0 0 0 1px #fce88d;
}
.button-yellow:active {
  background: #fcdf5b;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}
.button-yellow .fa {
  color: #c9ae34;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.button-black {
  background-color: black;
  background-image: linear-gradient(to bottom, black, black);
  border: 1px solid black;
  box-shadow: inset 0 1px 0 #1c1c1c, inset 0 -1px 0 black, inset 0 0 0 1px black, 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.button-black:hover, .button-black:focus {
  background: black;
  border-color: black;
  box-shadow: inset 0 1px 0 #1c1c1c, inset 0 -1px 0 black, inset 0 0 0 1px black;
}
.button-black:active {
  background: black;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}
.button-black .fa {
  color: black;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}
.button.btn-lg{
	padding: 10px 20px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 6px;
}
.uppercase {
	text-transform: uppercase !important;
}
.lowercase {
	text-transform: lowercase !important;
}
.button .fa {
  /*
  float: left;
  font-size: 14px;
  line-height: 20px;
  margin: -1px 8px 0 -4px;
  vertical-align: top;
  */
}

	/* Startpage - Content Data*/
	.contentmarketdata > .row > div {
		padding: 10px 0;
		border-bottom: 1px solid rgba(0,0,0,0.25);
		background-color: #333;
		display: flex;
		margin-bottom: 20px;
		color: #999;
	}

	.contentheader .button .fa {
		float: left;
		font-size: 24px;
	}
	.contentinner .colorgraph {
		margin: -3px 0 0;
		border-radius: 0;
	}

	/*Markets Tabs */

	.markets_tab .nav-tabs > li {
		padding: 0 5px;
	}
	
	.markets_tab .nav-tabs {
		border-bottom: 0;
	}
	.markets_tab table.table-striped {
		color:#666;
		font-size:12px;
		
		/*
		border-right: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		border-left: 1px solid #ccc;
		border-top: #fff;
		
		
		-moz-box-shadow: 0 1px 2px #d1d1d1;
		-webkit-box-shadow: 0 1px 2px #d1d1d1;
		box-shadow: 0 1px 2px #d1d1d1; 
		*/
	}

	
	.markets_tab .nav-tabs {
		z-index: 10 !important;
	}
	.markets_tab .nav-tabs > li > a {

		
	}
	.markets_tab .nav-tabs > li.active a{

		border-color: #ccc;
		border-bottom-color: #fff;
		/*
		box-shadow: 0px 1px 2px #ccc; 
		
		*/
	}

 	
	
	/*	Table styles */
	.markets_tab table.table-striped {

		padding: 0;
		border: 0;
		box-shadow: 0 2px 4px -2px #ccc; 
	}
	.markets_tab .table th, .markets_tab .table td{    border-top: 1px solid #ddd !important; }
	.table th, .table td{    border-bottom: 1px solid #ddd ; }
	
	
	table.table-striped td{
		padding: 3px;
	}
	
	


	table.table-striped a{
		text-decoration:none;
	}
	
	table.table-striped a:active,
	table.table-striped a:hover,
	table.table-striped tr:hover a {
		
	}
	table.table-striped {
		box-shadow: 0 1px 2px #ccc;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		
		border: 1px solid #ccc;
		border-spacing: 0 !important; border-collapse: inherit;
		/* IMPORTANT, I REMOVED border-collapse: collapse; FROM THIS LINE IN ORDER TO MAKE THE OUTER BORDER RADIUS WORK */
		
		padding: 0 0 5px 0;
	} 


	.scrolltable table.table-striped {
		color:#666;
		font-size:12px;
		border: 0 !important;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		box-shadow: none;
	}
	table.table-striped th {
		padding: 0 5px 15px 5px;
		color: #999;
	}
	table.table-striped th:first-child{
		text-align: left;
	}
	table.table-striped thead tr:first-child th:first-child{
	}
	table.table-striped thead tr:first-child th:last-child{

		
	}
	table.table-striped tr{
		
	}
	table.table-striped tr td:first-child{
		border-left: 0;
	}
	table.table-striped tr td {
		border-bottom:0;
		
		background: #FFF;
		
	}
	/* table.table-striped tr.even td, */
	table.table-striped tr:nth-child(even) td {
		background: #F9F9F9;
	}

	table.table-striped tr:last-child td{
		border-bottom:0;
	}
	/*
	table.table-striped tr:last-child td:first-child{
		-moz-border-radius-bottomleft:4px;
		-webkit-border-bottom-left-radius:4px;
		border-bottom-left-radius:4px;
	}
	*/

	table.table-striped tr:hover td{
		background: #f6f6f6;
		/*
		background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
		background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
		*/
	}

	table.table-striped a.nostrong {
		font-weight: normal;
	}

	/*Table sorter*/



	/*Nano */
	.nano .nano-content {
	padding: 0;
}

.nano .nano-pane {
	background: #555;
	width: 8px;
	right: 1px;
  margin: 5px;
}

.nano .nano-slider {
	background: #111;
}


/* tabs*/
#content-profile .nav-tabs{ display: table;}

/*accordion */
#main .panel-group h1,
#main .panel-group h2,
#main .panel-group h3,
#main .panel-group h4,
#main .panel-group h5,
#main .panel-group h6 {
	font-size: initial;
	margin: 0;
}
.marginauto {
	margin: 0 auto !important;
}

/*Chart */
#chartdiv {

}
#chartLoadingBox {
	display: table;
    margin: 100px auto;
	vertical-align: middle;
	text-align: center;
	
}
#orderdepth tspan {
	border: 1px solid #333;
	border-radius: 4px;
	cursor: pointer;
}


/* ICONS */
.red {
	color: #a94442;
}

* {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.left {
	float:left;
}

.right {
	float:right;
}

.clear {
	clear:both;
}

.bold {
	font-weight:bold;
}

.priceUp {
	font-weight:bold;
	color:#090;
}

.priceDown {
	font-weight:bold;
	color:#900;
}

img {
	border:0;
	vertical-align:middle;
}

/*
a {
	color:#008B5D;
	cursor:pointer;
}
table a, .table a{color:#159ACE;}

hr {
	margin:10px 0;
	border:0;
	border-bottom:2px solid #eee;
}

p {
	margin:0.5em 0 0;
}

p.top {
	margin:0;
}

h1, h2, h3, h4, input[type="button"], input[type="submit"] {
	font-family:"Lucida Sans Unicode","Lucida Grande",Arial,Helvetica,sans-serif;
	font-weight:400;
	line-height:1em;
	margin:0;
}



input[type="button"].inline {
	font-size:90%;
	padding:6px 10px;
}

input[disabled=disabled][type="button"], input[disabled=disabled][type="button"]:hover, input[disabled=disabled][type="submit"], input[disabled=disabled][type="submit"]:hover {
	background:#ccc;
	border:0;
	border-bottom:2px solid #bbb;
}

*/

input, textarea, select {
	background:#fff;
	border:1px solid #ccc;
	border-top-color:#bbb;
	-moz-box-shadow:inset 1px 1px 2px rgba(0, 0, 0, .1);
	-webkit-box-shadow:inset 0px 1px 2px rgba(0, 0, 0, .1);
	box-shadow:inset 1px 1px 2px rgba(0, 0, 0, .1);
	line-height:1.5em;
	margin:0;
	padding:4px 6px;
}
.row {
	margin:0;
	padding:0;
}
.row .row_break {
	margin-top: 10px;
}

ul.market {
	/*background:#fff;*/
	list-style:none;
	margin:0;
	padding:0px;
	border:1px solid #ddd;
}

ul.market li:hover {
	background-color: #f0f0f0;
}
ul.market li.volume {
padding: 0 5px 0 5px;
background:#fefefe;
}
ul.market li.title {
	background:#eee;
	border-bottom:1px solid #dadada;
	display:block;
	line-height:32px;
	padding:0px 10px;
	text-decoration:none;
}

ul.market li.title span {
	color:#666!important;
	/* font-size:80%; 
	font-weight:bold;
	*/
}

ul.market li.total {
	background:#f0f0f0;
	border-top:1px solid #ddd;
	line-height:32px;
	padding:0px 10px;
}

ul.market li.total span {
	font-weight:bold;
	width:auto!important;
}

ul.market li {
	border-top:1px solid #f0f0f0;
	clear: both;
}

ul.market li a, ul.stats li {
	display:block;
	line-height:32px;
	padding:0px 5px;
	text-decoration:none;
}

ul.market li:first-child {
	border-top:0;
}

ul.market li.active {
	border:0;
}

ul.market li.active a {
	background:#31B086;
	padding:2px 10px;
}

ul.market li.active a span {
	color:#000!important;
}

ul.market li.active ~ ul.market li  {
border: 0;
}ul.market li span {
	display:inline-block;
}

ul.market li span.name {
	color:#000;
	width:28%;
}

ul.market li span.price {
	width:38%;
}

ul.market li span.change,
.market span.change {
	color:#666;
}
.sidebar ul.market li span{
	line-height: 1.2rem;
}
.sidebar ul.market li span.change{
	float: right;
	
}
.sidebar ul.market li.title span.change{
	float: none;
}


ul.market li span.up,
.market span.up {
	color:#093 !important;
}

ul.market li span.down,
.market span.down{
	color:#900;
}

	


/*
form span.label {
	display:inline-block;
	font-weight:bold;
	line-height:34px;
	width:125px;
}

.buyForm input[type='text'], .sellForm input[type='text'] {
	width:135px;
}

.clickableOrder:hover td {
	background:#f0f0f0!important;
	color:#2a9fd6;
	cursor:pointer;
}

.actionmenu {
	margin-top:8px;
	right:30px;
}

.actionmenu:before {
	background:url('/assets/images/icons/arrowupdark.png') no-repeat center;
}

.actionmenu li {
	min-width:200px;
}


.table td{}
*/

.scrolltable {
	max-height:350px;
	overflow-y:auto;
	box-shadow: 0 1px 2px #ccc;
}


ul.tabs {
	border-bottom:1px solid #2a9fd6;
	list-style:none;
	margin:0 0 25px;
	padding:0;
	position:relative;
}

ul.tabs li {
	display:inline-block;
	font-size:1.1em;
	margin-right:3px;
	position:relative;
	top:1px;
}

ul.tabs li a {
	color:#666;
	display:block;
	margin-bottom:1px;
	padding:10px 15px;
	text-decoration:none;
}

ul.tabs li a:hover {
	background:#e0f3ed;
	color:#222;
}

ul.tabs li.active a, ul.tabs li.active a:hover {
	background:#c1e7da;
	border:1px solid #2a9fd6;
	border-bottom:0;
	color:#222;
	font-weight:bold;
	margin-bottom:0;
	padding:9px 14px 11px;
}









h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {    color: #525252;}

.block{padding:5px;margin: 0 7px 7px 0;}



.amChartsButtonSelected,.amChartsButton{ border-radius: 0!important;}
a,ul.market li span.up {
    color: #2a9fd6;
}
form.inblock, .order_header{
    background-color: #fff!important;
	border-radius: 4px;
	border: 1px solid #D2D2D2!important;
	
}
.input-group-addon{
    border-color: #D2D2D2!important;
} 
#do_buy,#do_sell{ border-radius: 4px!important;}


.table > thead > tr > th {
    border-bottom: 0;
}

.btn-block{padding:10px;}


.item25{padding-right:0;}
.content-body{background-color: #fff; padding:20px; border-radius: 4px;}

.recaptchatable #recaptcha_image{
	border: 0 none !important;
    height: 59px !important;
    width: 302px !important;
}

.inblock-left,.inblock-right {
    width: 49%!important;
} 

.wrapper-trading.buysellform .forConfirm .form-group,
.wrapper-trading.buysellform .control-group {
	margin-bottom: 2px;
}
.wrapper-trading.buysellform .forConfirm .control-label,
.wrapper-trading.buysellform .forConfirm .input-group {
	font-weight: normal;
}

.trade_history table,
.wrapper-trading table{
/*margin-bottom:-12px;*/
}

/*
@ Slider Settings 
Only showing tooltips when sliding is active
*/
#market_place #buy_slider .noUi-connect {
	background-color: #449d44;
}
#market_place #sell_slider .noUi-connect {
	background-color: #d9534f;
}
#market_place .noUi-horizontal{
	height: 12px !important;
}

#market_place .noUi-tooltip  {
	top: 120%;
}

#market_place .noUi-tooltip  {
	height: 25px;
	padding: 0 5px;
	z-index: 101;
}

#market_place .noUi-tooltip {
    display: none;
}
#market_place .noUi-origin .noUi-active .noUi-tooltip {
    display: block;
}


#market_place .noUi-horizontal .noUi-handle{
	height: 20px;
	width: 30px;
}
#market_place .noUi-horizontal .noUi-handle::before {
    content: "";
    display: block;
    position: absolute;
    height: 10px;
    width: 1px;
    background: #E8E7E6;
    left: 12px;
    top: 4px;
}
#market_place .noUi-horizontal .noUi-handle::after{
    content: "";
    display: block;
    position: absolute;
    height: 10px;
    width: 1px;
    background: #E8E7E6;
    left: 16px;
    top: 4px;
}


table.market_table tr.mainCoin > td > a > i{
	float: left;
	padding-top: 4px;
    padding-right: 3px;
}
table.market_table tr.mainCoin > td > a > div .first_assist,
table.market_table tr.mainCoin  td  a .currency_light {
	font-size: 130%;
}
table.market_table tr.mainCoin > td > a > div .sec_assist {
	font-size: 100%;
	color: #828A98;
}

table.market_table tr.mainCoin  td  a .currency_light {
	color: #828A98;
}
table.market_table tr.mainCoin > td > a .third_assist {
	font-size: 90%;
	color: #828A98;
}
table.market_table thead tr th:nth-child(4),
table.market_table thead tr th:nth-child(5),
table.market_table tbody tr td:nth-child(4),
table.market_table tbody tr td:nth-child(5) {
	text-align: right;
	padding-right: 15px;
}
/* Hide the Last column for small smart phones*/
		/* hide mobile styles as a default and activate it when the device is correct with media only screen*/
	._desktop_style_ {
		display: display;
	}
	._mobile_style_ {
		display: none;
	}

@media only screen and (max-device-width: 480px) {
	._desktop_style_ {
		display: none;
	}
	._mobile_style_ {
		display: block;
	}
	.market_stats{
		width: 50%;
	}
}

.navbar-nav li.nav-btn {
	border-radius: 3px;
	background-color: #000;
	margin: 10px 0 0 5px;
	padding: 5px;
	border: 2px solid #333;
	cursor: pointer;
}

.nav-btn span a{
	color: #FFF;
}
.nav-btn span a:hover{
	color: #FFF;
	text-decoration: none;
}
.nav-btn span  {
	margin-top: 10px;
	color: #FFFCCC;
	/* width: 100%; */
}

.navbar-nav > li.nav-btn.register {
	border-color: #8bcc62;
}
.navbar-nav > li.nav-btn.login {
	border-color: #2ba9e3;
}
.navbar-nav > li.nav-btn.register:hover{
	border-color: #FFF;
}
.navbar-nav > li.nav-btn.login:hover {
	border-color: #FFF;
}

/*







.noUi-horizontal .noUi-tooltip  {
	top: 120%;
}

.noUi-tooltip {
    display: none;
}
.noUi-active .noUi-tooltip {
    display: block;
}
*/



.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding-right: 8px;
    padding-left: 8px;
}



/*!
 * =====================================================
 * SUI Mobile - http://m.sui.taobao.org/
 *
 * =====================================================
 */html {
 font-size:20px
}
@media only screen and (min-width:320px) {
 html {
  font-size:17.07px!important
 }
}
@media only screen and (min-width:375px) {
 html {
  font-size:20px!important
 }
}
@media only screen and (min-width:400px) {
 html {
  font-size:21.33px!important
 }
}
@media only screen and (min-width:414px) {
 html {
  font-size:22.08px!important
 }
}
@media only screen and (min-width:480px) {
 html {
  font-size:25.6px!important
 }
}

/*Footer */
.nb-footer{
  background: #272727;
  margin-top: 60px;
  padding-bottom: 30px;
}
.nb-footer .footer-single{
  margin-top: 30px;
}
.nb-footer .footer-title{
    display: block;
  margin: 10px 0 25px 0;
  border-bottom: 1px dotted #e4e9f0;
}
.nb-footer .footer-single a{
	text-decoration: none;
}

.nb-footer .footer-single h2{
    color: #eee;
  font-size: 18px;
  font-weight: 200;
  display: inline-block;
  border-bottom: 2px solid #B4D5FF;
  padding-bottom: 5px;
  margin-bottom: -2px;
}
.nb-footer .footer-single li{
  border-top: solid 1px #353535;
}
.nb-footer .footer-single li:first-child{
  border-top: none;
}
.nb-footer .footer-single li a{
  color: #979797;
  font-size: 12px;
  padding: 6px 0px;
  display: block;
  transition:all 0.4s ease-in-out;
}
.nb-footer .footer-single li a:hover{
  color: #B4D5FF;
}
.nb-footer .footer-single li a:hover i{
  color: #B4D5FF;
}
.nb-footer .dummy-logo {
    margin-top: 11px;
    padding-bottom: 9px;
}
.nb-footer .dummy-logo .icon {
    margin-right: 10px;
    border-radius: 20px;
    margin-top: 24px;
}
.nb-footer .brand {
    background: #B4D5FF;
}
.nb-footer .dummy-logo i {
    font-size: 50px;
    color: #fff;
    padding: 5px;
}
.nb-footer .dummy-logo p {
    color: #999;
    font-size: 12px;
}
.nb-footer .dummy-logo h2 {
    font-size: 24px !important;
    border-bottom: none;
    color: #696969;
    padding: 5px 0;
}
.nb-footer .btn-footer{
  border: 1px solid #B4D5FF;
  margin-top: 10px;
  color: #999;
}
.nb-footer .btn-footer:hover{
  background: #B4D5FF;
  color: #fff;
  transition:all 0.4s ease-in-out;

}
.nb-footer .useful-links li a{
  text-transform: uppercase;
}
.nb-footer .footer-project a{
  font-size: 13px;
}
.nb-footer .footer-project img{
  margin-bottom: 20px;
  border: 1px solid #666;
  border-radius: 6px;
  padding: 1px;
  opacity: 0.7;
  transition:all 0.4s ease-in-out;
}
.nb-footer .footer-project img:hover{
  opacity: 1.0;
  cursor: pointer;
}
.nb-footer .footer-project .footer-title{
  margin-top: 0;
}
.nb-footer .footer-single p, .footer-single address{
    color: #979797;
  font-size: 14px;
  margin-top: 5px;
  line-height: 22px;
}
.nb-copyright{
  background: #171717;
  padding-bottom: 10px;
}
 .nb-copyright .copyrt{
  margin-top: 22px;
  font-size: 14px;
}
.nb-copyright .copyrt a{
  color: #B4D5FF;
}
.nb-copyright .footer-social{
	margin-top: 10px;
}
.nb-copyright .footer-social i{
  padding: 5px 10px;
  color: #999;
  border: 1px solid #333;
  margin-top: 10px;
  font-size: 20px;
  border-radius: 5px;
  transition:all 0.4s ease-in-out;
}
.nb-copyright .footer-social i:hover{
  background: #B4D5FF;
  color: #fff;
}
.nb-copyright .footer-social .fa-facebook{
  padding: 5px 14px;
}
@media(max-width: 767px){
	 .xs-center{
	text-align: center;
}
 .left-clear{
	padding-left: 0;
}
 .right-clear{
	padding-right: 0;
}
}

/*start page*/
#market_place .contentheader h2{
	font-size: 24px;
}
#market_place .contentheader{
	background: #000;
	color: #fff;padding: 15px;
	text-align: center;
	justify-content: center;
	
}
#market_place .contentheader .market_stats .list-group-item{
	padding: 5px;
}
#market_place .contentheader .market_stats{
	color: #000;
	width: 20%;
	min-width: 200px;
	text-align: right;
}
#market_place .contentheader h1,
#market_place .contentheader h2,
#market_place .contentheader h3{
	color: #FFF;
}
.col-centered{
    float: none;
    margin: 0 auto;
}


#main table th {
	font-weight: normal;
}
	

input#sidebar_search_market{
	text-transform: uppercase;
}

/*Menu Right Sidebar*/
.navbar-default,
.navbar-inverse {
    background-color: #171717;
    border-color: #282828;
}
.navbar-default .navbar-nav>li>a{
	color: #BBB;
}

@media screen and (max-width: 768px) {
          .side-collapse-container{
              
              position:relative;
              left:0;
              transition:left .4s;
          }
          .side-collapse-container.out{
			  background-color: #000 !important;
          }
          .side-collapse {
              top:50px;
              bottom:0;
              right:0;
              width:200px;
              position:fixed;
              overflow:hidden;
              transition:width .4s;
			  border-left: 1px solid #282828;
          }
          .side-collapse.in {
              width:0;
          }
		  .side-collapse .nav  li a,
		  .side-collapse .navbar-nav li a{
			font-size: 110%;
		  }
		  /*
		  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover
		  
		  .navbar-default .navbar-toggle
		  */
		  .side-collapse .navbar-collapse {
			  border-top: 0;
		  }
		  .side-collapse .nav  li,
		  .side-collapse .navbar-nav  li {
			  padding: 0 10px;
			  line-height: 38px;
		  }
		  .side-collapse nav.navbar-collapse ul.nav.navbar-nav.navbar-right li.open a.dropdown-toggle {
			  /* padding: 10px 29px; */
			  padding: 10px 25px;
			  
		  }
		  .side-collapse .nav  li:hover,
		  .side-collapse .navbar-nav  li:hover {
			  background-color: #272727;
		  }
		  .side-collapse .nav li.open,
		  .side-collapse .navbar-nav li.open{
			  padding: 0 10px;
		  }
		  
		  .side-collapse .nav li.open,
		  .side-collapse .navbar-nav li.open,
		  .side-collapse .nav li.open  ul  li, 
		  .side-collapse .navbar-nav  li.open  ul  li{
			  padding: 0 ;
			  background-color: #171717;
		  }

		  .side-collapse .navbar-nav .open .dropdown-menu > li:focus, 
		  .side-collapse .navbar-nav .open .dropdown-menu > li:hover {
			  background-color: #272727;
		  }
		  
		  
}
.side-content-overlay {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

/*Alert - Notice */
.notice {
    padding: 15px;
    background-color: #FFF;
    border: 1px solid #ccc;
	border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
	border-radius: 4px;
}
.notice-sm {
    padding: 10px;
    font-size: 80%;
}
.notice-lg {
    padding: 35px;
    font-size: large;
}
.notice-success {
    border-color: #80D651;
}
.notice-success>strong {
    color: #80D651;
}
.notice-info {
    border-color: #45ABCD;
}
.notice-info>strong {
    color: #45ABCD;
}
.notice-warning {
    border-color: #FEAF20;
}
.notice-warning>strong {
    color: #FEAF20;
}
.notice-danger {
    border-color: #d73814;
}
.notice-danger>strong {
    color: #d73814;
}

.coin-info.inblock{
	/*display: inline-block;*/
	display: flow-root;
}

.coin-info.inblock ul li{
	border-bottom: 1px solid #f5f5f5;
}
.coin-info.inblock ul li:last-child{
	border-bottom: none;
}

.coin-info.inblock span{
	color: #bbb;
}
.coin-info.inblock ul li >span{
	position: relative;
    float: left;
    padding: 0 50px 0 0;
    width: 150px;
    text-align: left;	
}


/*modal*/
.modal-header {
	background-color: #428bca;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding: 10px 10px;
}
.modal-header .modal-title {
	color: #FFF;
}

.input-group .error{
	display: none;
	margin-left: 10px;
	color: red;
}
input.invalid, textarea.invalid{
	border: 2px solid red;
}

input.valid, textarea.valid{
	border: 2px solid green;
}